<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
    
  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QDG7Z69FRZ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-QDG7Z69FRZ');
    </script>
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
  </body>
</html>