<template>
  <div class="main-wrapper rune-view">
    <div class="strips-container">
      <!-- <div class="community-pros">
        <div class="avatar-pro" v-for="(avatar, i) in avatars" :key="i" :class="{'active': avatar.active}">
          <img class="avatar-img" :src="avatar.img" :alt="avatar.name" @click="showThisAvatar(i)">
          <img class="tag-shape" src="~/assets/images/technical-page/tag-shape2.svg">
          <div class="content">
            <span>{{avatar.tag}}</span>
            <div class="icons">
              <ext-link class="telegram-icon" :linkProps="avatar.socialLinks.telegram" v-if="avatar.socialLinks.telegram"></ext-link>
              <ext-link class="github-icon" :linkProps="avatar.socialLinks.github" v-if="avatar.socialLinks.github"></ext-link>
              <ext-link class="gitlab-icon" :linkProps="avatar.socialLinks.gitlab" v-if="avatar.socialLinks.gitlab"></ext-link>
              <ext-link class="twitter-icon" :linkProps="avatar.socialLinks.twitter" v-if="avatar.socialLinks.twitter"></ext-link>
            </div>
          </div>
        </div>
      </div> -->
      <community-strips :avatars="avatars" />
    </div>
    <div class="content-wrapper">
      <a class="anchor-point" :id="$links('scrollTo.rune')[0]"></a>
      <div class="menu-sized-container">
        <div class="spacing70"></div>
        <div class="row title-section">
          <h2 class="title">
            {{ $t("runePage.titleSection.title[0]") }}
            <span class="thor-green-color">{{
              $t("runePage.titleSection.title[1]")
            }}</span>
          </h2>
          <p>
            {{ $t("runePage.titleSection.afterTitle[0]") }} <br />
            {{ $t("runePage.titleSection.afterTitle[1]") }}
          </p>
        </div>
        <div class="spacing70"></div>
        <div class="row rune-page-section-left">
          <div class="col">
            <div class="rune-page-section-text">
              <div class="section-header">
                <p>{{ $t("runePage.superPowerSection.beforeHeader") }}</p>
                <h2>
                  {{ $t("runePage.superPowerSection.header") }}
                  <img
                    style="margin: -10px 0 0 -21px"
                    src="~/assets/images/rune-page/SUPERPOWERS.png"
                    alt="thorchain super power"
                  />
                </h2>
              </div>
              <div style="height: 10px"></div>
              <div class="section-paragraph thor-white-color">
                <div
                  v-for="item in $t('runePage.superPowerSection.items')"
                  :key="item[0]"
                >
                  <div class="row">
                    <div class="col" style="flex-grow:0">
                      <span>{{ item[0] }}</span>
                    </div>
                    <div class="col">
                      <span
                        class="thor-green-color"
                        style="flex-grow:1;margin-left:5px"
                        >{{ item[1] }}</span
                      ><span>{{ item[2] }}</span>
                    </div>
                  </div>
                  <div style="height: 30px"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <img
              src="~/assets/images/rune-page/super-powers.svg"
              alt="Rune Superpower"
            />
          </div>
        </div>
        <div class="spacing50"></div>
        <div
          class="row rune-page-section-right"
          v-for="section in [$t('runePage.deepSection')]"
          :key="section.header"
        >
          <div class="col">
            <img
              src="~/assets/images/rune-page/deep.svg"
              alt="rune as nodes bond"
            />
          </div>
          <div class="col">
            <div class="rune-page-section-text">
              <div class="section-header">
                <p>
                  <span class="thor-green-color">{{
                    section.beforeHeader[0]
                  }}</span
                  >{{ section.beforeHeader[1] }}
                </p>
                <h2>{{ section.header }}</h2>
              </div>
              <div class="section-paragraph">
                <p v-for="item in section.text" :key="item">{{ item }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="rune-section-spacing"></div>
        <div
          class="row rune-page-section-left"
          v-for="section in [$t('runePage.inheritValueSection')]"
          :key="section.header"
        >
          <div class="col">
            <div class="rune-page-section-text">
              <div class="section-header">
                <p>
                  <span class="thor-green-color">{{
                    section.beforeHeader[0]
                  }}</span
                  >{{ section.beforeHeader[1] }}
                </p>
                <h2>{{ section.header }}</h2>
              </div>
              <div class="section-paragraph">
                <p v-for="item in section.text" :key="item">{{ item }}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <img
              src="~/assets/images/rune-page/3x.svg"
              alt="rune inherits value"
            />
          </div>
        </div>
        <div class="rune-section-spacing"></div>
        <div
          class="row rune-page-section-right"
          v-for="section in [$t('runePage.nodesBondSection')]"
          :key="section.header"
        >
          <div class="col">
            <img
              src="~/assets/images/rune-page/1m.svg"
              alt="rune as nodes bond"
            />
          </div>
          <div class="col">
            <div class="rune-page-section-text">
              <div class="section-header">
                <p>
                  <span class="thor-green-color">{{
                    section.beforeHeader[0]
                  }}</span
                  >{{ section.beforeHeader[1] }}
                </p>
                <h2>{{ section.header }}</h2>
              </div>
              <div class="section-paragraph">
                <p v-for="item in section.text" :key="item">{{ item }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="rune-section-spacing"></div>
        <div
          class="row rune-page-section-left"
          v-for="section in [$t('runePage.secureAssetsSection')]"
          :key="section.header"
        >
          <div class="col">
            <div class="rune-page-section-text">
              <div class="section-header">
                <p>
                  <span class="thor-green-color">{{
                    section.beforeHeader[0]
                  }}</span
                  >{{ section.beforeHeader[1] }}
                </p>
                <h2>{{ section.header }}</h2>
              </div>
              <div class="section-paragraph">
                <p v-for="item in section.text" :key="item">{{ item }}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <img
              src="~/assets/images/rune-page/safe.svg"
              alt="rune inherits value"
            />
          </div>
        </div>
        <div class="rune-section-spacing"></div>
        <div
          class="row rune-page-section-right"
          v-for="section in [$t('runePage.signalsListingSection')]"
          :key="section.header"
        >
          <div class="col">
            <img
              src="~/assets/images/rune-page/fair.svg"
              alt="rune as nodes bond"
            />
          </div>
          <div class="col">
            <div class="rune-page-section-text">
              <div class="section-header">
                <p>
                  <span class="thor-green-color">{{
                    section.beforeHeader[0]
                  }}</span
                  >{{ section.beforeHeader[1] }}
                </p>
                <h2>{{ section.header }}</h2>
              </div>
              <div class="section-paragraph">
                <p v-for="item in section.text" :key="item">{{ item }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="rune-section-spacing"></div>
        <div
          class="row rune-page-section-left"
          v-for="section in [$t('runePage.incentivizeSection')]"
          :key="section.header"
        >
          <div class="col">
            <div class="rune-page-section-text">
              <div class="section-header">
                <p>
                  <span class="thor-green-color">{{
                    section.beforeHeader[0]
                  }}</span
                  >{{ section.beforeHeader[1] }}
                </p>
                <h2>{{ section.header }}</h2>
              </div>
              <div class="section-paragraph">
                <p v-for="item in section.text" :key="item">{{ item }}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <img
              src="~/assets/images/rune-page/pays.svg"
              alt="rune inherits value"
            />
          </div>
        </div>
        <div class="rune-section-spacing"></div>
        <div
          class="row rune-page-section-right"
          v-for="section in [$t('runePage.ampsSection')]"
          :key="section.header"
        >
          <div class="col">
            <img
              src="~/assets/images/rune-page/amps.svg"
              alt="rune as nodes bond"
            />
          </div>
          <div class="col">
            <div class="rune-page-section-text">
              <div class="section-header">
                <p>
                  <span class="thor-green-color">{{
                    section.beforeHeader[0]
                  }}</span
                  >{{ section.beforeHeader[1] }}
                </p>
                <h2>{{ section.header }}</h2>
              </div>
              <div class="section-paragraph">
                <p v-for="item in section.text" :key="item">{{ item }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="rune-section-spacing"></div>
      </div>
      <a class="anchor-point" :id="$links('scrollTo.rune')[1]"></a>
      <div class="outer-container">
        <div class="row supply annu-box">
          <div class="supply-header">
            <h2>
              <span style="color: #23DCC8">{{
                $t("runePage.supplyEmittedBoxSection.header")[0]
              }}</span>
              {{ $t("runePage.supplyEmittedBoxSection.header")[1] }}
            </h2>
          </div>
          <div class="supply-text">
            <p>{{ $t("runePage.supplyEmittedBoxSection.text") }}</p>
          </div>
          <div class="annu-lower" style="margin-top: 17px">
            <ext-link class="annu-btn" :linkProps="$links('sheet_emissions')">{{
              $t("runePage.supplyEmittedBoxSection.links")[0]
            }}</ext-link>
            <span class="earnings" v-if="totalEarnedTxt != 'unknown'">
              ${{ totalEarnedTxt }}
              {{ $t("runePage.supplyEmittedBoxSection.aboveBtn")[1] }}
            </span>
          </div>
        </div>
        <div class="spacing50"></div>
        <div class="row butsir">
          <div class="col" style="max-width: 400px; position:relative">
            <img
              style="position:absolute; bottom:-3px"
              src="~/assets/images/rune-page/swings.svg"
              alt="thorchain children-on-see-saw"
            />
          </div>
          <div class="col">
            <div class="butsir-content">
              <div class="butsir-header">
                <h3>{{ $t("runePage.fixedpaymentButSir.header") }}</h3>
              </div>
              <div class="butsir-text" style="width: 600px">
                <p>
                  {{ $t("runePage.fixedpaymentButSir.text")[0] }}
                </p>
              </div>
              <div
                class="butsir-links row align-items-center"
                style="margin-top: 26px"
              >
                <span class="learn-more col-auto p-0">
                  {{ $t("runePage.fixedpaymentButSir.learnMore") }}
                </span>
                <div class="col-auto p-0">
                  <ext-link class="butsir-link" :linkProps="$links('docs_incentive_pendulum')">{{
                    $t("runePage.fixedpaymentButSir.links[0]")
                  }}</ext-link
                  ><ext-link class="butsir-link" :linkProps="$links('docs_emissions')">{{
                    $t("runePage.fixedpaymentButSir.links[1]")
                  }}</ext-link>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="spacing50"></div>
      </div>
      <a class="anchor-point" :id="$links('scrollTo.rune')[2]"></a>
      <div class="outer-container">
        <div class="row thorchain-community annu-box">
          <div class="col col-auto">
            <div class="thorchain-community-header">
              <h2>
                <span style="color: #23DCC8">{{
                  $t("runePage.comunityBoxSection.header")[0]
                }}</span>
                {{ $t("runePage.comunityBoxSection.header")[1] }}
              </h2>
              <!-- <h3>{{ $t("runePage.comunityBoxSection.belowHeader") }}</h3> -->
            </div>
            <div class="thorchain-community-text">
              <p>
                {{ $t("runePage.comunityBoxSection.text")[0] }}
                <br>
                {{ $t("runePage.comunityBoxSection.text")[1] }}
                <br />
                <br />
                {{ $t("runePage.comunityBoxSection.text")[2] }}
              </p>
            </div>
            <div class="annu-lower">
              <ext-link class="annu-btn" :linkProps="$links('thorchain_community')">{{
                $t("runePage.comunityBoxSection.links")[0]
              }}</ext-link>
              <span class="locked">
                <span>{{ runeLocked }}% RUNE</span
                >{{ $t("runePage.comunityBoxSection.aboveBtn")[1] }}
              </span>
            </div>
          </div>
          <div
            class="col auto"
            style="position: absolute; right: 0px; bottom: 0px; width: 380px;"
          >
            <img
              src="~/assets/images/rune-page/simulator-preview.svg"
              alt="thorchain community"
            />
          </div>
        </div>
        <div class="spacing50"></div>
        <div class="row butsir" style="height: 198px">
          <div class="col" style="max-width: 365px; margin-left: 20px">
            <img
              src="~/assets/images/rune-page/deterministic.svg"
              alt="deterministic rune"
            />
          </div>
          <div class="col">
            <div class="butsir-content pr-0" style="padding-bottom: 25px">
              <div class="butsir-header">
                <h3>{{ $t("runePage.deterministicRuneButSir.header") }}</h3>
              </div>
              <div class="butsir-text">
                <p>
                  {{ $t("runePage.deterministicRuneButSir.text")[0] }}
                </p>
              </div>
              <div
                class="butsir-links row align-items-center"
                style="margin-top: 26px"
              >
                <span class="learn-more col-auto p-0">
                  {{ $t("runePage.deterministicRuneButSir.learnMore") }}
                </span>
                <div class="col-auto p-0 live-metrics">
                  <div class="butsir-link">
                    {{ $t("runePage.deterministicRuneButSir.links")[0][0]
                    }}<span>${{ nonRuneTVL }}</span>
                  </div>
                  <div class="butsir-link">
                    {{ $t("runePage.deterministicRuneButSir.links")[1][0]
                    }}<span>{{ circulatingSupplyTxt }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="spacing50"></div>
      </div>
      <a class="anchor-point" :id="$links('scrollTo.rune')[3]"></a>
      <div class="outer-container">
        <div class="row coingecko-table">
          <CoingeckoTable />
        </div>
        <div class="spacing50"></div>
        <div class="row butsir" style="height: 414px">
          <div class="col" style="max-width: 360px; margin-left: 40px">
            <img
              src="~/assets/images/rune-page/standing-person-with-kid-up-in-arms.svg"
              alt="standing person with kid up in arms"
            />
          </div>
          <div class="col" style="padding-right: 20px">
            <div class="butsir-content">
              <div class="butsir-header">
                <h3>{{ $t("runePage.thorchainProtocolButSir.header") }}</h3>
              </div>
              <div class="butsir-text">
                <p>
                  {{ $t("runePage.thorchainProtocolButSir.text")[0] }}
                </p>

                <p>
                  {{ $t("runePage.thorchainProtocolButSir.text")[1] }}
                </p>
              </div>
              <div
                class="butsir-links row align-items-center"
                style="margin-top: 26px"
              >
                <span class="learn-more col-auto p-0">
                  {{ $t("runePage.thorchainProtocolButSir.learnMore") }}
                </span>
                <div class="col-auto p-0">
                  <nuxt-link class="butsir-link disabled" to="#"
                    >{{ $t("runePage.thorchainProtocolButSir.links[0]")
                    }}<span class="soon">SOON</span></nuxt-link
                  ><ext-link class="butsir-link" :linkProps="$links('docs_transaction_memos')">{{
                    $t("runePage.thorchainProtocolButSir.links[1]")
                  }}</ext-link
                  ><nuxt-link class="butsir-link disabled" to="#"
                    >{{ $t("runePage.thorchainProtocolButSir.links[2]")
                    }}<span class="soon">SOON</span></nuxt-link
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="spacing50"></div>
      <a class="anchor-point" :id="$links('scrollTo.rune')[4]"></a>
      <div class="row justify-content-center">
        <div class="col col-auto apy-graph">
          <h2 class="gradient-color">
            {{ $t("runePage.apyPool.header") }}
            <img
              style="margin-top: -10px"
              src="~/assets/images/rune-page/Bitcoin.svg"
              alt="thorchanin bitcoin"
            />
          </h2>
          <span class="gradient-color sub-header" style="padding-right: 5px">{{
            $t("runePage.apyPool.belowHeader")
          }}</span>
          <h1>~{{ liquidAPY }}% APY</h1>
          <h4 class="gradient-color">{{ $t("runePage.apyPool.text") }}</h4>
          <!-- <p class="gradient-color">{{$t('runePage.apyPool.belowText')}}</p> -->
          <!-- <RuneChart :color="{ linearGradient: { x1: 0, x2: 1, y1: 0, y2: 0 }, stops: [ [0, '#00CCFF'], [1, '#33FF99'] ] }" /> -->
          <ext-link class="gradient-btn mt-5" :linkProps="$links('medium_liquidity_pooling')">{{
            $t("runePage.apyPool.textBtn")
          }}</ext-link>
        </div>
        <div class="col col-auto apy-graph" style="margin-left: 30px">
          <h2 class="green-color">{{ $t("runePage.apyNode.header") }}</h2>
          <span class="green-color sub-header">{{
            $t("runePage.apyNode.belowHeader")
          }}</span>
          <h1>~{{ nodeAPY }}% APY</h1>
          <h4 class="green-color">{{ $t("runePage.apyNode.text") }}</h4>
          <!-- <p class="green-color">{{$t('runePage.apyNode.belowText')}}</p> -->
          <!-- <RuneChart color="#32CD32" /> -->
          <ext-link class="green-btn mt-5" :linkProps="$links('docs_node_operations')">{{
            $t("runePage.apyNode.textBtn")
          }}</ext-link>
        </div>
      </div>
      <div class="spacing50"></div>
      <div class="outer-container">
        <div class="row butsir" style="height: 256px">
          <div class="col" style="max-width: 400px">
            <img
              src="~/assets/images/rune-page/sir_hodl.svg"
              alt="guy with heart"
            />
          </div>
          <div class="col pr-3">
            <div class="butsir-content">
              <div class="butsir-header">
                <h3>{{ $t("runePage.hodlButSir.header") }}</h3>
              </div>
              <div class="butsir-text">
                <p>
                  {{ $t("runePage.hodlButSir.text")[0] }}
                </p>
              </div>
              <div
                class="butsir-links row align-items-center"
                style="margin-top: 26px"
              >
                <span class="learn-more col-auto p-0">
                  {{ $t("runePage.hodlButSir.learnMore") }}
                </span>
                <div class="col-auto p-0">
                  <nuxt-link
                    class="butsir-link"
                    :to="{ path: 'rune', hash: 'what-influences-it' }"
                    >{{ $t("runePage.hodlButSir.links[0]") }}</nuxt-link
                  ><ext-link class="butsir-link" :linkProps="$links('medium_liquidity_pooling')"
                    >{{ $t("runePage.hodlButSir.links[1]")
                    }}<span class="soon">UPDATE IN V0.2</span></ext-link
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="spacing70"></div>
    </div>
    <div class="strips-container fliped no-display">
      <div class="community-pros">
      </div>
    </div>
  </div>
</template>

<script src="./script.js"></script>
<style src="./style.scss" lang="scss" scoped></style>
