<template>
  <div class="row coingecko-table" :class="{'secondary-style-table': tableSecondaryStyle}">
    <div class="table-holder">
      <table v-if="isCoingeckoValid" class="table">
        <thead class="fading-color">
          <tr>
            <th v-if="columns.exchange" class="table-pad-left">Exchange</th>
            <th v-if="columns.pair">Pair</th>
            <th v-if="columns.price" class="right-align">Price</th>
            <th v-if="columns.spread" class="right-align">Spread</th>
            <th v-if="columns.depthUp" class="right-align">+2% Depth</th>
            <th v-if="columns.depthDown" class="right-align">-2% Depth</th>
            <th v-if="columns.volume24h" class="right-align table-pad-right">
              24h Volume
            </th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="record in coingeckoTable" :key="record.key">
            <td v-if="columns.exchange" class="chart-color table-pad-left">
              {{ record.market }}
              <span class="thor-market-label" v-if="record.is_thor"
                >Thorchain</span
              >
            </td>
            <td
              v-if="columns.pair"
            >
              <ext-link :class="{ 'disabled-link': !record.tradeUrl }" :linkProps="record['market_link_props']">{{ record.pair }}</ext-link>
            </td>
            <td v-if="columns.price" class="chart-color right-align chart-num">
              ${{ record.price }}
            </td>
            <td v-if="columns.spread" class="chart-color right-align chart-num">
              {{ record.spread }}%
            </td>
            <td
              v-if="columns.depthUp"
              class="chart-color right-align chart-num"
            >
              ${{ record.depth_up }}
            </td>
            <td
              v-if="columns.depthDown"
              class="chart-color right-align chart-num"
            >
              ${{ record.depth_down }}
            </td>
            <td
              v-if="columns.volume24h"
              class="chart-color right-align chart-num table-pad-right"
            >
              ${{ record.volume }}
            </td>
          </tr>
        </tbody>
        <tfoot class="fading-color">
          <tr>
            <td style="padding-left: 30px">Data from CoinGecko</td>
            <td class="thor-olive-color">
              <ext-link :linkProps="$links('coingecko_show_more')">Show more</ext-link>
            </td>
            <td colspan="5" style="text-align: right; padding-right: 30px">
              Last updated {{ coingeckoUpdateMsg }}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</template>

<script>
import utils from "../../utils";
import ExtLink from "./ExtLink.vue";
export default {
  components: { ExtLink },
  props: {
    nFormat: {
        type: Boolean,
        default: false
    },
    rowCount: {
      type: Number,
      default: 10
    },
    columns: {
      type: Object,
      default(){
        return {
        exchange: true,
        pair: true,
        price: true,
        spread: true,
        depthUp: true,
        depthDown: true,
        volume24h: true,
      }
      },
    },
    tableSecondaryStyle: {
        type: Boolean,
        default: false
    }
  },
  data() {
    return {
      coingeckoTable: null,
      coingeckoUpdateMsg: null,
      isCoingeckoValid: true,
    };
  },
  mounted(){
      console.log("CoingeckoTable mounted. nFormat: ", this.nFormat)
      console.log("tableSecondaryStyle: ", this.tableSecondaryStyle)
  },
  async fetch() {
    var res = await this.$services.getCoingeckoData()

    var newData = res.markets;
    for (var i in newData) {
      newData[i]["key"] = JSON.stringify(newData[i]);
      if (newData[i].market == "BepSwap") newData[i]["is_thor"] = true;
      else newData[i]["is_thor"] = false;
      if (this.nFormat) {
        newData[i]["volume"] = utils.nFormatter(parseInt(newData[i]["volume"]));
      } else {
        newData[i]["volume"] = utils.numberWithCommas(
          parseInt(newData[i]["volume"])
        );
      }
      newData[i]["depth_up"] = utils.numberWithCommas(
        parseInt(newData[i]["depth_up"])
      );
      newData[i]["depth_down"] = utils.numberWithCommas(
        parseInt(newData[i]["depth_down"]) 
      );
      newData[i]['market_link_props'] = JSON.parse(JSON.stringify(this.$links('coingecko_pair')))
      newData[i]['market_link_props'].link = newData[i]['tradeUrl']
    }

    this.coingeckoTable = newData.slice(0, this.rowCount);

    var seconds = parseInt((Date.now() - res.lastUpdate) / 1000);
    if (seconds < 60) this.coingeckoUpdateMsg = "a few seconds ago";
    else this.coingeckoUpdateMsg = parseInt(seconds / 60) + " minutes ago";
  },
};
</script>

<style lang="scss">

.coingecko-table {
  .table-holder {
    padding: 0;
    background-color: #000b12;
    border-radius: 24px;
    overflow: hidden;
    border: 2px solid #15242e;

    table {
      border-collapse: collapse;
      border-style: hidden;
      margin: 0;
      font-family: Roboto;
      thead,
      tbody,
      tfoot,
      tr,
      td,
      th {
        border-style: none;
      }
      tbody {
      }
      tr {
        border-bottom: 1px solid #15242e;
        td {
          a {
            text-decoration: none;
            color: #23DCC8;
            &:hover{
              text-decoration: underline;
            }
            &.disabled-link{
              color: $semiGray;
              &:hover{
                text-decoration: none;
              }
            }
          }
          .thor-market-label {
            text-transform: uppercase;
            background: -webkit-linear-gradient(
              45deg,
              $blueBackground,
              $blueGreen
            );
            color: black;

            font-family: Roboto;
            font-style: normal;
            font-size: 11px;
            font-weight: bold;
            line-height: 13px;

            padding: 3px 4px 2px 4px;
            border-radius: 2px;
            margin-left: 10px;
          }
        }
      }
      tfoot tr:last-child {
        border-bottom: none;
      }
      .chart-color {
        color: $semiWhite;
      }
      .right-align {
        text-align: right;
      }
      .chart-num {
        font-family: "Roboto Mono";
      }
      .table-pad-left {
        padding-left: 30px;
      }
      .table-pad-right {
        padding-right: 30px;
      }
    }
    .table-foot {
      padding: 5px 0 5px 5px;
    }
  }
}
.secondary-style-table {
    border-radius: 0;
    .table-holder{
        border-radius: 0;
        border-bottom: none;
        border-right: none;
        border-left: none;
        
    }
}
</style>