<template>
  <div class="community-pros">
      <span class="new-tag">NEW!</span>
      <div class="avatar-pro" v-for="(avatar, i) in avatars" :key="i" :class="{'active': avatar.active}">
          <img class="avatar-img" :src="avatar.img" :alt="avatar.name" @click="showThisAvatar(i)">
          <div class="content" :class="{'thorchain': avatar.thorchain}">
              <img class="tag-shape" src="~/assets/images/technical-page/tag-shape2.svg">
              <span>{{avatar.tag}}</span>
              <div class="icons" v-if="!avatar.thorchain">
                  <ext-link class="telegram-icon" :linkProps="avatar.socialLinks.telegram" v-if="avatar.socialLinks.telegram"></ext-link>
                  <ext-link class="github-icon" :linkProps="avatar.socialLinks.github" v-if="avatar.socialLinks.github"></ext-link>
                  <ext-link class="gitlab-icon" :linkProps="avatar.socialLinks.gitlab" v-if="avatar.socialLinks.gitlab"></ext-link>
                  <ext-link class="twitter-icon" :linkProps="avatar.socialLinks.twitter" v-if="avatar.socialLinks.twitter"></ext-link>
              </div>
          </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ["avatars"],
    methods: {
        showThisAvatar(i) {
            this.avatars.forEach((ava, index) => {
                if (index == i) {
                    if (ava.active) {
                        ava.active = false
                        return
                    }
                    ava.active = true
                }
                else
                    ava.active = false
            })
        }
    }
}
</script>

<style lang="scss">
.community-pros {
    position: sticky;
    top: 200px;
    z-index: 2;
    display: flex;
    flex-direction: column;

    .new-tag {
      position: relative;
      top: 10px;
      color: #F3BA2F;
      font-weight: 700;
      text-align: center;
      font-size: 9px;
      line-height: 24px;
    }

    .avatar-pro {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      width: 43px;
      height: 43px;
      border-radius: 50%;
      background: -webkit-linear-gradient(45deg, $blueBackground, $blueGreen);
      box-shadow: #00CCFF 0px 0px 15px -3px, #33ff99 0px 0px 6px -2px;

      .avatar-img {
        cursor: pointer;
        width: 43px;
        height: 43px;
        padding: 3px;
        border-radius: 50%;
      }

      &:hover {
        background: #F3BA2F;
        box-shadow: none;
      }

      &.active {
        background: #F3BA2F;
        box-shadow: none;

        .content {
          display: flex;
        }
      }

      .content {
        display: none;
        position: absolute;
        // width: 307px;
        height: 60px;
        left: 84px;
        justify-content: space-between;
        align-items: center;
        background: #000B12;
        padding: 0 31px 0 5px;
        border-radius: 12px;
        border: 2.3px solid #F3BA2F;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &.thorchain {
          span {
            width: 208px;
            margin-right: 0;
          }
        }

        .tag-shape {
          position: absolute;
          height: 60px;
          width: 34px;
          left: -30px;
        }

        span {
          color: #F3BA2F;
          margin-right: 30.5px;
        }

        .icons {
          display: flex;
          align-items: center;

          a {
            display: inline-block;
            width: 18px;
            height: 18px;
            margin: 0 2.5px;
            background-repeat: no-repeat;
            margin-top: 6px;
            
            &.telegram-icon{
              background-image: url('~assets/images/icons/social-telegram-icon.svg');

              &:hover {
                  background-image: url('~assets/images/icons/social-telegram-icon-hover-yellow.svg');
              }
            }
            &.github-icon{
                background-image: url('~assets/images/icons/social-github-icon.svg');

                &:hover {
                    background-image: url('~assets/images/icons/social-github-icon-hover-yellow.svg');
                }
            }
            &.gitlab-icon{
                background-image: url('~assets/images/icons/social-gitlab-icon.svg');

                &:hover {
                    background-image: url('~assets/images/icons/social-gitlab-icon-hover-yellow.svg');
                }
            }
            &.twitter-icon{
                background-image: url('~assets/images/icons/social-twitter-icon.svg');

                &:hover {
                    background-image: url('~assets/images/icons/social-twitter-icon-hover-yellow.svg');
                }
            }
          }
        }

        // &::before {
          // display: block;
          // content: "";
          // position: absolute;
          // background-image: url(~assets/images/technical-page/tag-shape2.svg);
          // left: -27px;
          // background-repeat: no-repeat;
          // width: 28px;
          // height: 60px;
        // }
      }
      
    }
  }
</style>