<template>
  <div class="row tw-container">
    <div class="col">
      <img class="user-img" :src="userImg" alt="Thorchain Tweet" />
    </div>
    <div class="col">
      <div class="user-info">
        <ext-link :linkProps="userNameLink" class="user-name">{{ userName }}</ext-link>
        <span class="user-id">{{ userId }} • {{ date }}</span>
      </div>
      <div class="text" v-html="textWithLinks"></div>
      <div class="card">
          <img :src="card" alt="Thorcnain Tweet">
      </div>
      <div class="follow-link">
          <ext-link :linkProps="followLink">{{followText}}</ext-link>
      </div>
    </div>
  </div>
</template>

<script>
import ExtLink from "./ExtLink.vue"

export default {
  components: { ExtLink },
  props: {
    userImg: {
      type: String,
      default: require("~/assets/images/home/twitter-mehowbrains.png"),
    },
    userName: {
      type: String,
      default: "MehowBrains⚡",
    },
    userNameLink: {
      type: Object,
      default: null,
    },
    userId: {
      type: String,
      default: "@mehowbrains",
    },
    date: {
      type: String,
      default: "Jan 7",
    },
    text: {
      type: String,
      default: `Liquidity Providers on @THORChain_org seem more than happy to pool their native assets into the Decentralized Liquidity in exchange for yield 🤑

See the referenced tweets below for proof.`,
    },
    card: {
      type: String,
      default: require("~/assets/images/home/tweet-mehow-meme.png"),
    },
    followLink: {
      type: Object,
      default: null,
    },
    followText:{
      type: String,
      default: "Show this thread",
    }
  },
  data() {
    return {
      textWithLinks: "empty",
    };
  },
  mounted() {
    this.textWithLinks = this.tweetLinks(this.text);
  },
  methods: {
    tweetLinks(text) {
        var lines = text.split('\n')
        var linesWithLinks = lines.map(line =>{
            var words = line.split(" ");
            var wordsWithLinks = words.map((word) => {
              if (word.match(/@\w+/)) {
                var mentionedName = word.split("@")[1];
                var link = "https://twitter.com/" + mentionedName;
                return `<a href="${link}">${word}</a>`;
              } else if (word.match(/$\w+/) || word.match(/#\w+/)) {
                var link = "https://twitter.com/search?q=" + word;
                return `<a href="${link}">${word}</a>`;
              }
              return word;
            });
            
            var linesWithLinks = wordsWithLinks.join(" ");
            return linesWithLinks
        })
        var textWithLinks = linesWithLinks.join("<br>")
        return textWithLinks;
    },
  },
};
</script>

<style lang="scss">
.tw-container {
  background-color: #000b12;
  padding-left: 34px;
  .col:first-child {
    flex-grow: 0;
  }
  .user-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
  .col:nth-child(2) {
    padding-left: 10px;
    .user-info {
      .user-name {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
      .user-id {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #8899a6;
      }
    }
    .text {
      width: 492px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff;
      a {
        text-decoration: none;
        color: #1b92da;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .card{
        background-color: inherit;
        margin-top: 13px;
        img{
            border-radius: 18px;
            width: 510px;
        }
    }
    .follow-link{
        margin-top: 16px;
        a{
            text-decoration: none;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            color: #1B92DA;
            &:hover{
              text-decoration: underline;
            }
        }
    }
  }
}
</style>