<template>
  <transition name="fade">
    <div class="overlay-mask" @click="closeOverlay()">
      <div class="player-holder">
        <no-ssr placeholder="Loading...">
          <youtube
            :player-width="playerWidth"
            :player-height="playerHeight"
            :video-id="videoId"
            @ready="ready"
            @buffering="buffering"
            
          ></youtube>
        </no-ssr>
        <div class="close-btn">
          <button @click="closeOverlay()">
            <Close />
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import Close from "~/assets/images/icons/close.svg?inline";
export default {
  components: {
    Close,
  },
  data() {
    return {
      videoId: "VEqHk12eHUA",
      playerHeight: 1500,
      playerWidth: 1348,
      videoPaused: true
    };
  },
  computed: {},
  beforeMount() {
    let windowWidth = window.innerWidth;
    let windowHeight = window.innerHeight;
    console.log(windowWidth, windowHeight);
    this.playerWidth = windowWidth * 0.8;
    this.playerHeight = windowHeight * 0.8;
  },
  
  methods: {
    buffering(event) {
      event.target.setPlaybackQuality("hd1080");
    },
    ready(event){
        console.log("Player is ready")
        this.player = event.target
        this.player.playVideo()
        event.target.setPlaybackQuality("hd1080");
        var self = this
        var videoPauseWatcher;
        this.player.addEventListener('onStateChange',(s)=>{

          if(s.data === 0){
            console.log("video ended")
            this.closeOverlay();
            // the video is end, do something here.
          }

          if (s.data === 1) {
            console.log('playing')
            // console.log(event.target.getAvailableQualityLevels());
            // console.log(event.target.getAvailablePlaybackRates());
            // event.target.setPlaybackRate(2)
            event.target.setPlaybackQuality("hd1080");
          }
          
          if(self.videoPaused){
            console.log("self pause")
            event.target.pauseVideo()
            return
          }
          if(s.data === 2){ // video paused
            if(videoPauseWatcher){
              clearInterval(videoPauseWatcher)
            }
            videoPauseWatcher = setTimeout(()=>{
              console.log("Video paused")
              self.videoPaused = true;
              clearInterval(videoPauseWatcher)
              event.target.pauseVideo()
              this.$store.commit('showYoutubeOverlay', false)
            },500)
          }
          else { // another event happened (except 'pause')
            if(videoPauseWatcher){
              console.log("Video event wasn't pause")
              clearInterval(videoPauseWatcher)
            }
          }
            
        })
        this.$store.subscribe((mutation, state)=>{
          if(mutation.type === "showYoutubeOverlay" && mutation.payload === true){
            console.log("Youtube overlay opened")
            event.target.playVideo()
            self.videoPaused = false
          }
        })
    },
    // paused(event){
    //   console.log("Pause Clicked")
    //   // this.$store.commit('showYoutubeOverlay', false)
    // },
    // cued(event){
    //   console.log("video cued")

    // },
    // qued(event){
    //   console.log("video qued")

    // },
    closeOverlay() {
      console.log("close overlay clicked");
      this.player.pauseVideo()
      console.log(this.player)
      this.$store.commit('showYoutubeOverlay', false)
    },
    overlayClicked(){
        console.log("overlay clickde")
    }
  },
};
</script>

<style lang="scss">
.overlay-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(00,0B,12,0.8);
  display: block;
  transition: opacity 0.3s ease;
  overflow-y: hidden;
  .player-holder {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .youtube {
      flex-shrink: 0;
      border: 5px dashed #a7e040;
    }
    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
    //   border: 2px dashed #d5d7d886;
      margin: 3px;
      button{
        margin: auto;
        background-color: transparent;
        border: none;
        padding: 30px;
      }

      svg {
        fill: #d5d7d8;
      }
    }
  }
}
</style>