<template>
  <div>
    <h1>{{ $t("helloWorld") }}</h1>
    <nuxt-link
      v-for="locale in availableLocales"
      :key="locale.code"
      :to="switchLocalePath(locale.code)"
      >{{ locale.name }} , </nuxt-link
    >
    <div class="nav">This is the page nav</div>
    <!-- <youtube
    :player-width="playerWidth"
    :player-height="playerHeight"
    :video-id="videoId"></youtube> -->
  </div>
</template>
<style lang="css" scoped>
.nav{
    background-color: #bba0a0;
    color: black;
}
</style>
<script>
export default {
  data(){
    return {
      videoId: "4UXntuLqv8Y",
      playerHeight: 360,
      playerWidth: 640
    }
  },
  head() {
    // Set Meta Tags for this Page
  },
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter((i) => i.code !== this.$i18n.locale);
    },
  },
  beforeMount(){
      let windowWidth = window.innerWidth
      let windowHeight = window.innerHeight
      console.log(windowWidth, windowHeight)
      this.playerWidth = windowWidth * 0.8
      this.playerHeight = windowHeight * 0.8
  },
  mounted(){
      console.log("mounted")
      console.log(this.availableLocales)
      
      console.log(this.$youtube)
      console.log(this.player)
  }
};
</script>