<template>
  <div class="menu-content-sized-container">
    <!-- <div class="title-holder" v-if="whichCard < 0">
      <h1>
        {{ $t("homePage.mainTitle.title")[0] }}<br />{{
          $t("homePage.mainTitle.title")[1]
        }}
      </h1>
      <div class="card-text">
        {{ $t("homePage.mainTitle.text")[0] }} <br />
        {{ $t("homePage.mainTitle.text")[1] }}
      </div>
      <div @click="titleButSirClicked" @mouseover="titleButSirMouseoverEvent" @mouseout="titleButSirMouseoutEvent" class="butsir-btn">
        <img v-if="!titleButSirMouseover" src="~/assets/images/home/surprised-man.svg" alt="Thorchain But sir" />
        <img v-else src="~/assets/images/home/surprised-man-hover.svg" alt="Thorchain But sir" />
        <span>{{ $t("homePage.mainTitle.butsir") }}</span>
      </div>
    </div> -->
    <!-- <div class="title-holder-imminent" v-if="whichCard <= 5">
      <h1>
        {{ $t("homePage.mainTitle.title")[0] }}<br />{{
          $t("homePage.mainTitle.title")[1]
        }}
      </h1>
      <div class="card-text">
        {{ $t("homePage.mainTitle.text")[0] }} <br />
        {{ $t("homePage.mainTitle.text")[1] }}
      </div>
      <div @click="titleButSirClicked" @mouseover="titleButSirMouseoverEvent" @mouseout="titleButSirMouseoutEvent" class="butsir-btn">
        <img v-if="!titleButSirMouseover" src="~/assets/images/home/surprised-man.svg" alt="Thorchain But sir" />
        <img v-else src="~/assets/images/home/surprised-man-hover.svg" alt="Thorchain But sir" />
        <span>{{ $t("homePage.mainTitle.butsir") }}</span>
      </div>
    </div> -->
    <div class="shape-shift-title" v-if="whichCard <= 5" key="shape_shift">
      <h1>
        {{ $t("homePage.mainTitle.title")[0] }}<br />{{
          $t("homePage.mainTitle.title")[1]
        }}
      </h1>
      <div class="card-text">
        {{ $t("homePage.mainTitle.text")[0] }} <br />
        {{ $t("homePage.mainTitle.text")[1] }}
      </div>
      <div @click="titleButSirClicked" @mouseover="titleButSirMouseoverEvent" @mouseout="titleButSirMouseoutEvent" class="butsir-btn">
        <img v-if="!titleButSirMouseover" src="~/assets/images/home/surprised-man.svg" alt="Thorchain But sir" />
        <img v-else src="~/assets/images/home/surprised-man-hover.svg" alt="Thorchain But sir" />
        <span>{{ $t("homePage.mainTitle.butsir") }}</span>
      </div>
      <div style="height: 54px;"></div>
      <div class="card-wrapper" >
        <img src="~/assets/images/home/embedded-card.svg" alt="embedded-card" />
        <div class="rune-erc20">
          <div class="text">RUNE (ERC20) is now available on the ShapeShift mobile app. No KYC required.</div>
          <ext-link class="buy-rune" :linkProps="$links('shapeshift_mobile_app')" key="shape_shift_app">Buy RUNE</ext-link>
        </div>
      </div>
    </div>
    <div class="title-holder-testnet" v-else key="asgardex">
      <h1>
        {{ $t("homePage.mainTitle.title")[0] }}<br />{{
          $t("homePage.mainTitle.title")[1]
        }}
      </h1>
      <div class="card-text">
        {{ $t("homePage.mainTitle.text")[0] }} <br />
        {{ $t("homePage.mainTitle.text")[1] }}
      </div>
      <div @click="titleButSirClicked" @mouseover="titleButSirMouseoverEvent" @mouseout="titleButSirMouseoutEvent" class="butsir-btn">
        <img v-if="!titleButSirMouseover" src="~/assets/images/home/surprised-man.svg" alt="Thorchain But sir" />
        <img v-else src="~/assets/images/home/surprised-man-hover.svg" alt="Thorchain But sir" />
        <span>{{ $t("homePage.mainTitle.butsir") }}</span>
      </div>
      <div style="height: 54px;"></div>
      <div class="card-wrapper">
        <img src="~/assets/images/home/embedded_card_asgardex_multichain_testnet_live.svg" alt="embedded-card" />
        <div class="multi-testnet">
          <div class="text">Multichain TestNet is now<br>live on ASGARDEX.<br>It's for real.</div>
          <ext-link class="asgardex-btn" :linkProps="$links('asgardex_testnet')" key="asgardex_btn">Try ASGARDEX</ext-link>
        </div>
      </div>
    </div>

    <div class="card-spacing"></div>
    <div class="row">
      <div class="home-card version-card">
        <div class="version-number">
          {{ $t("homePage.versionCard.num") }} <br />
        </div>
        <div class="version-text">
          {{ $t("homePage.versionCard.text")[0] }} <br />
          {{ $t("homePage.versionCard.text")[1] }}
        </div>
        <div class="version-btns">
          <div class="card-btn">
            <ext-link :linkProps="$links('medium_v01')">
              {{ $t("homePage.versionCard.buttons")[0] }}
            </ext-link>
          </div>
        </div>
      </div>
      <div class="home-card news-card">
        <div class="news-emojies">⚡ 🍣</div>
        <div class="news-text">
          {{ $t("homePage.newsCard.sushi.text")[0] }}<br />{{
            $t("homePage.newsCard.sushi.text")[1]
          }}
        </div>
        <div class="news-btns">
          <div class="card-btn">
            <ext-link :linkProps="$links('runebridge')">
            {{ $t("homePage.newsCard.sushi.buttons")[0] }}
            </ext-link>
            <ext-link :linkProps="$links('runebridge_pools')">
            {{ $t("homePage.newsCard.sushi.buttons")[1] }}
            </ext-link>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="butsir-intro-card">
        <img
          src="~/assets/images/home/person-surfing.svg"
          alt="thorchain but sir"
        />
        <div class="butsir-content">
          <div class="butsir-heading">
            {{ $t("homePage.butsirIntro.heading") }}
          </div>
          <div class="butsir-text">
            {{ $t("homePage.butsirIntro.text")[0] }} <br />
            {{ $t("homePage.butsirIntro.text")[1] }} <br />
            {{ $t("homePage.butsirIntro.text")[2] }}
          </div>
        </div>
      </div>
    </div>
    <div class="row rune-section">
      <div class="col">
        <div class="home-card circulating-supply-card">
          <div class="supply-percent"><span>{{runeLocked}}<span>%</span></span></div>
          <div class="supply-text">
            {{ $t("homePage.circulatingSupplyCard.text")[0] }} <br />
            {{ $t("homePage.circulatingSupplyCard.text")[1] }}
          </div>
          <div class="card-btn">
            <NuxtLink :to="localePath('/rune#what-influences-it')">
              {{ $t("homePage.circulatingSupplyCard.btn") }}
            </NuxtLink>
          </div>
        </div>
        <div class="home-card all-tvl-card">
          <div class="all-tvl-title">
            <span>{{ $t("homePage.allTVLCard.title")[0] }}</span
            ><span>{{ $t("homePage.allTVLCard.title")[1] }}</span>
          </div>
          <div class="card-text">
            {{ $t("homePage.allTVLCard.text")[0] }}<br />
            {{ $t("homePage.allTVLCard.text")[1] }}
          </div>
          <div class="card-btn">
            <ext-link :linkProps="$links('thorchain_community')">
              {{ $t("homePage.allTVLCard.btn") }}
            </ext-link>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="home-card rune-me-card">
          <div class="row">
            <div class="rune-me-title">
              {{ $t("homePage.runeMeCard.title") }}
            </div>
            <div class="card-text">
              {{ $t("homePage.runeMeCard.text")[0] }} <br />
              {{ $t("homePage.runeMeCard.text")[1] }}
            </div>
            <div class="card-btn">
              <NuxtLink :to="localePath('/rune')">
                {{ $t("homePage.runeMeCard.btn") }}
              </NuxtLink>
            </div>
          </div>
            <CoingeckoTable
              class="markets-table"
              :columns="{
                exchange: true,
                pair: true,
                price: true,
                volume24h: true,
              }"
              :nFormat="true"
              :rowCount="9"
              :tableSecondaryStyle="true"
            />
        </div>
      </div>
    </div>
    <div class="row tweets-section">
      <div class="col">
        <div class="home-card">
          <Tweet
          :userImg="require('~/assets/images/home/twitter-mehowbrains.png')"
          userName="MehowBrains⚡"
          :userNameLink="$links('twitter_mehowbrains')"
          userId="@mehowbrains"
          date="Jan 7"
          text="Liquidity Providers on @THORChain_org seem more than happy to pool their native assets into the Decentralized Liquidity in exchange for yield 🤑

See the referenced tweets below for proof."
          :card="require('~/assets/images/home/tweet-mehow-meme.png')"
          :followLink="$links('twitter_show_this_thread')"
          />
          <div class="apy">{{lpAPY}}<span>% APY</span></div>
          <div class="card-btn">
            <ext-link :linkProps="$links('medium_liquidity_pooling')">{{ $t("homePage.apyCard.lpAPYBtn") }}</ext-link>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="home-card">
          <Tweet
          :userImg="require('~/assets/images/home/twitter-rune-ranger.jpg')"
          userName="RUNE Ranger 🔨"
          :userNameLink="$links('twitter_theruneranger')"
          userId="@TheRUNERange"
          :date="nodeTweetDate"
          :text="nodeTweetText"
          :card="require('~/assets/images/home/tweet-rune-ranger-meme.png')"
          followText="Show this Tweet"
          :followLink="$links('twitter_show_this_tweet')"
          />
          <div class="apy">{{nodesAPY}}<span>% APY</span></div>
          <div class="card-btn">
            <ext-link :linkProps="$links('docs_node_operations')">{{ $t("homePage.apyCard.nodeAPYBtn") }}</ext-link>
          </div>
        </div>
      </div>
    </div>
    <div class="row node-stat">
      <div class="col active">
        <div class="head">{{activeNodeCount}}<span>{{ $t("homePage.nodeStatsCard.active.head") }}</span></div>
        <div class="card-text">
          {{ $t("homePage.nodeStatsCard.active.text")[0] }} <br>
          {{ $t("homePage.nodeStatsCard.active.text")[1] }}
        </div>
        <div class="card-btn">
          <ext-link :linkProps="$links('twitter_scale_nodes')">{{$t("homePage.nodeStatsCard.active.btn") }}</ext-link>
          </div>
      </div>
      <div class="col standby">
        <div class="head">{{standbyNodeCount}}<span>{{ $t("homePage.nodeStatsCard.standby.head") }}</span></div>
        <div class="card-text">
          {{ $t("homePage.nodeStatsCard.standby.text")[0] }} <br>
          {{ $t("homePage.nodeStatsCard.standby.text")[1] }}
        </div>
        <div class="card-btn">
          <ext-link :linkProps="$links('delphi_node_dashboard')">{{$t("homePage.nodeStatsCard.standby.btn") }}</ext-link>
        </div>
      </div>
    </div> 
    <div class="row solvency-card">
      <div class="col">
        <div class="title">
          {{$t("homePage.solvencyCard.title")[0]}}
          <br>
          {{$t("homePage.solvencyCard.title")[1]}}
        </div>
        <div class="card-text">
          {{$t("homePage.solvencyCard.text")[0]}}
          <br>
          {{$t("homePage.solvencyCard.text")[1]}}
        </div>
        <div class="line"></div>
        <div class="footer">
          {{$t("homePage.solvencyCard.footer")}}
        </div>
      </div>
      <div class="col">
        <div class="metrics">
          <div class="metric">
            {{$t("homePage.solvencyCard.metrics")[0]}}
            <span>${{totalCapitalUsd}}.00</span>
          </div>
          <div class="line"></div>
          <div class="metric">
            {{$t("homePage.solvencyCard.metrics")[1]}}
            <span>${{totalBondedUsd}}.00</span>
          </div>
          <div class="line"></div>
          <div class="metric">
            {{$t("homePage.solvencyCard.metrics")[2]}}
            <span>${{totalPooledUsd}}.00</span>
          </div>
        </div>
        <div class="card-btn">
          <ext-link :linkProps="$links('viewblock_vaults')">{{$t("homePage.solvencyCard.btns")[0]}}</ext-link>
          <ext-link :linkProps="$links('viewblock_validators')">{{$t("homePage.solvencyCard.btns")[2]}}</ext-link>
          <ext-link :linkProps="$links('viewblock_pools')">{{$t("homePage.solvencyCard.btns")[1]}}</ext-link>
        </div>
      </div>
    </div>
    <div class="row indicators-card">
      <div class="col">
        <div class="metric">
          {{$t("homePage.indicatorsCard.metrics")[0]}}
          <span>${{volume24h}}</span>
        </div>
        <div class="metric">
          {{$t("homePage.indicatorsCard.metrics")[1]}}
          <span>{{tx24h}}</span>
        </div>
        <div class="metric">
          {{$t("homePage.indicatorsCard.metrics")[2]}}
          <span>{{users24h}}</span>
        </div>
      </div>
      <div class="col">
        <div class="title">
          {{$t("homePage.indicatorsCard.title")[0]}} <br>
          {{$t("homePage.indicatorsCard.title")[1]}}
        </div>
        <div class="card-text">
          {{$t("homePage.indicatorsCard.text")[0]}} <br>
          {{$t("homePage.indicatorsCard.text")[1]}}
        </div>
        <div class="card-btn">
          <span class="border-wrap">
            <ext-link :linkProps="$links('thorchain_net_stats')">{{$t("homePage.indicatorsCard.btn")}}</ext-link>
          </span>
          <span class="footer">
            {{$t("homePage.indicatorsCard.footer")}}
          </span>
        </div>
      </div>
    </div>
    <div class="tools-table">
      <div class="row tools-table-header">
        <div class="col">
          <div class="title">
          {{$t("homePage.toolsTableCard.title")[0]}}
          <br>
          <span>{{$t("homePage.toolsTableCard.title")[1]}}</span>
          </div>
          <div class="card-text">
          {{$t("homePage.toolsTableCard.text")[0]}} <br>
          {{$t("homePage.toolsTableCard.text")[1]}}
          </div>
          <div class="card-btn" style="margin-left: -32px;">
            <ext-link :linkProps="$links('docs_connecting_thorchain')">
          {{$t("homePage.toolsTableCard.btns")[0]}}
            </ext-link>
            <ext-link :linkProps="$links('twitter_treasury_funding')">
          {{$t("homePage.toolsTableCard.btns")[1]}}
            </ext-link>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="table-wrapper">

      <table class="table">
        <thead class="fading-color" style="border-bottom: 1px solid #15242e;">
        <tr>
          <th>{{$t("homePage.toolsTableCard.ths")[0]}}</th>
          <th>{{$t("homePage.toolsTableCard.ths")[1]}}</th>
          <th>{{$t("homePage.toolsTableCard.ths")[2]}}</th>
          <th>{{$t("homePage.toolsTableCard.ths")[3]}}</th>
          <th>{{$t("homePage.toolsTableCard.ths")[4]}}</th>
          <th>{{$t("homePage.toolsTableCard.ths")[5]}}</th>
        </tr>
        </thead>
         <tbody>
          <tr v-for="record in toolsTable">
            <td>{{record.category}}</td>
            <td>
              <ext-link v-if="record.link" :linkProps="record.link">
                {{record.name}}
              </ext-link>
              <span v-else>{{record.name}}</span>
            </td>
            <td>{{record.utility}}</td>
            <td>
              <ext-link v-if="record.repo_url" :linkProps="record.repo_url">
                {{record.repo}}
              </ext-link>
              <span v-else>{{record.repo}}</span>
            </td>
            <td>{{record.owner}}</td>
            <td>
              <ext-link class="telegram-icon" v-if="record.telegram_url"
              :linkProps="record.telegram_url">
              </ext-link>
              <ext-link class="github-icon"  v-if="record.github_url" 
              :linkProps="record.github_url">
              </ext-link>
              <ext-link class="gitlab-icon"  v-if="record.gitlab_url" 
              :linkProps="record.gitlab_url">
              </ext-link>
              <ext-link  class="twitter-icon" v-if="record.twitter_url" 
              :linkProps="record.twitter_url">
              </ext-link>
            </td>
          </tr>
         </tbody>
      </table>
      </div>
    </div>
  </div>
</template>

<script src="./script.js"></script>
<style src="./style.scss" lang="scss" scoped></style>