<template>
  <!-- <div class="il right-sec-box"> -->
  <div class="il right-sec-box">
    <div class="graph">
      <input type="range" class="vertical rune-slider" />
      <span class="bubble">RUNE</span>
    </div>

    <div class="graph">
      <input type="range" class="vertical asset-slider" />
      <span class="bubble asset-bubble">{{ selectedAsset.name }}</span>
    </div>

    <div class="chart">
      <div class="asset-charts">
        <chart :options="chartOptions" />
        <span class="rune">RUNE ({{ assets[0] }}%)</span>
        <span class="asset">ETH ({{ assets[1] }}%)</span>
      </div>
      <div class="il-chart">
        <chart :options="ilOptions" />
        <span class="asset">IL ({{ ilValue }}%)</span>
      </div>
      <div class="il-text">
        <span style="color: #ff4954">{{
          $t("provideLiquidityPage.content")[4]["rightSec"]["text"][0]
        }}</span>
        <p>
          {{ $t("provideLiquidityPage.content")[4]["rightSec"]["text"][1] }}
          <br>
          {{ $t("provideLiquidityPage.content")[4]["rightSec"]["text"][2] }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { Chart } from "highcharts-vue";
export default {
  components: {
    Chart,
  },
  data() {
    return {
      chartOptions: {
        chart: {
          type: "spline",
          backgroundColor: "transparent",
          width: 470,
          height: 130,
          spacingTop: 0,
          spacingRight: 0,
          spacingBottom: 0,
          spacingLeft: 0,
          margin: 0,
        },
        title: {
          text: "",
        },
        credits: {
          enabled: false,
        },
        xAxis: {
          lineColor: "transparent",
          labels: {
            enabled: false,
          },
        },
        yAxis: {
          gridLineColor: "transparent",
          lineColor: "transparent",
          title: {
            text: "",
          },
          labels: {
            enabled: false,
          },
          min: -100,
          max: 100,
        },
        legend: {
          enabled: false,
        },
        time: {
          useUTC: false,
        },
        accessibility: {
          announceNewData: {
            enabled: true,
            minAnnounceInterval: 2500,
            announcementFormatter: function (allSeries, newSeries, newPoint) {
              if (newPoint) {
                return "New point added. Value: " + newPoint.y;
              }
              return false;
            },
          },
        },
        tooltip: {
          valueSuffix: "%",
        },
        plotOptions: {
          spline: {
            marker: {
              enabled: false,
            },
          },
        },
        series: [
          {
            lineColor: "#15242E",
            color: "#15242E",
            fillColor: "#15242E",
            lineWidth: 5,
            marker: {
              enabled: false,
            },
            states: {
              hover: {
                enabled: false,
              },
            },
            enableMouseTracking: false,
            data: (function () {
              var data = [0, 0, 0, 0, 0, 0, 0, 0, 0];
              return data;
            })(),
          },
          {
            lineColor: "#32FE9A",
            color: "#32FE9A",
            fillColor: "#32FE9A",
            lineWidth: 5,
            marker: {
              symbol: "circle",
              enabled: false,
            },
            name: "RUNE",
            data: (function () {
              var data = [0, 0, 0, 0, -0.3, -0.5, -0.8, -1.1, -1.5];
              return data;
            })(),
            enableMouseTracking: false,
          },
          {
            lineColor: "#01CDFE",
            color: "#01CDFE",
            fillColor: "#01CDFE",
            lineWidth: 5,
            marker: {
              symbol: "circle",
              enabled: false,
            },
            name: "ETH",
            data: (function () {
              var data = [0, 0, 0, 0, 0.3, 0.5, 0.8, 1.1, 1.5];
              return data;
            })(),
            enableMouseTracking: false,
          },
        ],
      },
      ilOptions: {
        chart: {
          type: "spline",
          backgroundColor: "transparent",
          width: 470,
          height: 200,
          spacingTop: 0,
          spacingRight: 0,
          spacingBottom: 0,
          spacingLeft: 0,
          margin: 0,
        },
        title: {
          text: "",
          useHTML: true,
          style: {
            fontSize: "16px",
            left: "4px",
            top: "12px",
          },
        },
        credits: {
          enabled: false,
        },
        xAxis: {
          lineColor: "transparent",
          labels: {
            enabled: false,
          },
        },
        yAxis: {
          gridLineColor: "transparent",
          lineColor: "transparent",
          title: {
            text: "",
          },
          labels: {
            enabled: false,
          },
          min: -2,
          max: 100,
        },
        legend: {
          enabled: false,
        },
        time: {
          useUTC: false,
        },
        accessibility: {
          announceNewData: {
            enabled: true,
            minAnnounceInterval: 2500,
            announcementFormatter: function (allSeries, newSeries, newPoint) {
              if (newPoint) {
                return "New point added. Value: " + newPoint.y;
              }
              return false;
            },
          },
        },
        tooltip: {
          valueSuffix: "%",
        },
        plotOptions: {
          spline: {
            marker: {
              enabled: false,
            },
          },
        },
        series: [
          {
            lineColor: "#15242E",
            color: "#15242E",
            fillColor: "#15242E",
            lineWidth: 5,
            marker: {
              enabled: false,
            },
            states: {
              hover: {
                enabled: false,
              },
            },
            enableMouseTracking: false,
            data: (function () {
              var data = [0, 0, 0, 0, 0, 0, 0, 0, 0];
              return data;
            })(),
          },
          {
            lineColor: "#FF4954",
            color: "#FF4954",
            fillColor: "#FF4954",
            lineWidth: 5,
            marker: {
              symbol: "circle",
              enabled: false,
            },
            name: "IL",
            data: (function () {
              var data = [0, 0, 0, 0, 0.3, 0.5, 0.8, 1.1, 1.5];
              return data;
            })(),
            enableMouseTracking: false,
          },
        ],
      },
      selectedAsset: {
        name: "ETH",
      },
      assets: [0, 0],
      ilValue: 0,
    };
  },
  methods: {
    setBubble(range, bubble, assetNumber) {
      const val = range.value;
      const min = range.min ? range.min : 0;
      const max = range.max ? range.max : 100;
      var newVal = Number(((val - min) * 100) / (max - min));

      // Sorta magic numbers based on size of the native UI thumb
      bubble.style.bottom = `calc(${newVal}% + (${49 - newVal * 1.22}px))`;

      const assetValue = (newVal - 50) * 2;
      this.$set(this.assets, assetNumber, assetValue);
      this.ilValue = this.calculateIL(this.assets[0], this.assets[1]);

      this.chartOptions.series[0].data = this.getChartData(0);
      this.chartOptions.series[assetNumber + 1].data = this.getChartData(
        assetValue
      );
      this.ilOptions.series[0].data = this.getChartData(0);
      this.ilOptions.series[1].data = this.getChartData(-1 * this.ilValue);
      // this.ilOptions.title.text = "IL (" + this.ilValue + "%)";
    },
    getChartData(value) {
      var data = [];
      var vectorSize = 30;
      var step = value / vectorSize;

      for (var i = 0; i < vectorSize; i++) {
        var pointValue = i * step * ((i * 0.1) / 3) ** 2;
        data.push(pointValue);
      }
      for (var i = 0; i < 2; i++) {
        data.unshift(0);
      }
      return data;
    },
    calculateIL(firstAssetValue, secondAssetValue) {
      var first = 1 + firstAssetValue * 0.01;
      var sec = 1 + secondAssetValue * 0.01;
      var pair = [first, sec];
      var maxI = pair.indexOf(Math.max(...pair));
      var minI = maxI == 0 ? 1 : 0;
      var ratio = pair[maxI] / (pair[minI] + 0.0001);
      var il = (2 * Math.sqrt(ratio)) / (1 + ratio) - 1;
      il = il * 100;
      il = il.toFixed(2);
      return il;
    },
  },
  mounted() {
    const graphs = document.querySelectorAll(".graph");
    var i = 0;
    for (const graph of graphs) {
      const range = graph.querySelector(".vertical");
      const bubble = graph.querySelector(".bubble");
      const assetNumber = i++;

      range.addEventListener("input", () => {
        this.setBubble(range, bubble, assetNumber);
      });

      this.setBubble(range, bubble, assetNumber);
    }
  },
};
</script>

<style lang="scss">
.il {
  display: flex;
  align-items: center;
  margin: auto;
  width: 800px;
  height: 397px;
  padding-left: 20px;

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $butSirBackground;
    width: 30px;
    height: 60px;
    border-radius: 24px;
    border: none;
  }

  input[type="range"]::-moz-range-thumb {
    appearance: none;
    background-color: $butSirBackground;
    width: 30px;
    height: 60px;
    border-radius: 24px;
    border: none;
  }

  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    background-color: $butSirBackground;
    width: 30px;
    height: 60px;
    border-radius: 24px;
    border: none;
  }

  .graph {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100%;

    .bubble {
      display: flex;
      // align-items: center;
      position: absolute;
      // cursor: pointer;
      // border-radius: 24px;
      // padding: 0 10px;
      // height: 30px;
      // background-color: $butSirBackground;
      color: $bgDark;
      font-weight: bold;
      pointer-events: none;
    }

    .asset-bubble {
    }

    .vertical {
      // bottom: 50%;
      position: absolute;
      -webkit-appearance: none;
      background-color: $borderColor;
      width: 300px;
      height: 6px;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      border-radius: 12px;

      &:focus {
        outline: none;
      }
    }
  }

  .chart {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 490px;
    left: 50px;

    .asset-charts {
      position: relative;
      margin-bottom: 33px;

      span {
        position: absolute;
        display: inline;

        &.rune {
          top: 30px;
          color: #32fe9a;
        }

        &.asset {
          top: 75px;
          color: #01cdfe;
        }
      }
    }

    .il-chart {
    position: relative;
    margin-top: -120px;
      span.highcharts-title {
        font-family: "Roboto" !important;
        top: 15px !important;
        left: 4px !important;
        z-index: -1 !important;
      }
      span {
        position: absolute;
        display: inline;
        top: 130px;
        color: #ff4954;
      }

      .il-text {
        span,
        p {
          display: inline;
          font-size: 17px;
          color: #f5f5f5;
        }

        span {
          margin-right: 5px;
        }
      }
    }
  }
}
</style>