<template>
  <transition name="fade">
    <div class="provide-liquidity-mask">
      <div class="provide-liquidity-wrapper">
        <div class="provide-liquidity-container">
          <div class="provide-liquidity-header-wrapper">
            <div class="provide-liquidity-header">
              <NuxtLink :to="localePath('index')">
                <img
                  src="~/assets/images/icons/nav-thorchain-logo.svg"
                  alt="Thorchain"
                />
              </NuxtLink>
              <div class="close-btn">
                <button @click="closeProvide()">
                  <Close />
                </button>
              </div>
            </div>
          </div>
          <div class="provide-liquidity-body">
            <h3 class="body-header">{{$t("provideLiquidityPage.title")}}</h3>
            <div class="provide-body-sec">
              <div class="secs">
                <div class="sec">
                  <div class="left-sec">
                    <h4 class="header-sec" @click='section(1)'>{{$t("provideLiquidityPage.content")[0]["title"]}}</h4>
                    <transition name="height">
                      <div class="accordion-collapse" :class="{'active': sectionLevel == 1}">
                        <div class="accordion-body">
                          <p>
                            {{$t("provideLiquidityPage.content")[0]["text"]}}
                          </p>
                          <div class="sec-btns">
                            <button class="btn-outline" @click="section(1)">{{$t("provideLiquidityPage.content")[0]["buttons"][0]}}</button>
                            <button disabled>{{$t("provideLiquidityPage.content")[0]["buttons"][1]}}</button>
                          </div>
                        </div>
                      </div>
                    </transition>
                  </div>
                  <div class="right-sec">
                    <div class="right-parent">
                      <transition name="fade">
                        <div class="video-holder right-sec-box" v-show="sectionLevel == 1">
                          <div class="play"></div>
                        </div>
                      </transition>
                    </div>
                  </div>
                </div>
                <div class="sec" :class="{'active': sectionLevel == 1}">
                  <div class="left-sec" >
                    <h4 class="header-sec" @click='section(1)'>{{$t("provideLiquidityPage.content")[1]["title"]}}</h4>
                    <transition name="height">
                      <div class="accordion-collapse" :class="{'active': sectionLevel == 1}">
                        <div class="accordion-body">
                          <p>
                            {{$t("provideLiquidityPage.content")[1]["text"]}}
                          </p>
                          <div class="sec-btns">
                            <button class="btn" @click="section(2)">{{$t("provideLiquidityPage.content")[1]["buttons"]}}</button>
                          </div>
                        </div>
                      </div>
                    </transition>
                  </div>
                  
                </div>
                <div class="sec" :class="{'active': sectionLevel == 2}">
                  <div class="left-sec" >
                    <h4 class="header-sec" @click='section(2)'>{{$t("provideLiquidityPage.content")[2]["title"]}}</h4>
                    <transition name="height">
                      <div class="accordion-collapse" :class="{'active': sectionLevel == 2}">
                        <div class="accordion-body">
                          <p>
                            {{$t("provideLiquidityPage.content")[2]["text"][0]}}
                          </p>
                          <ul>
                            <li>
                              {{$t("provideLiquidityPage.content")[2]["text"][1]}}
                            </li>
                            <li>
                              {{$t("provideLiquidityPage.content")[2]["text"][2]}}
                            </li>
                          </ul>
                          <p>
                            {{$t("provideLiquidityPage.content")[2]["text"][3]}}
                          </p>
                          <div class="sec-btns">
                            <button class="btn" @click="section(3)">{{$t("provideLiquidityPage.content")[2]["buttons"]}}</button>
                          </div>
                        </div>
                      </div>
                    </transition>
                  </div>
                  <div class="right-sec">
                    <div class="right-parent">
                      <transition name="fade">
                        <div class="video-holder right-sec-box" v-show="sectionLevel == 2">
                          <div class="play"></div>
                        </div>
                      </transition>
                    </div>
                  </div>
                </div>
                <div class="sec" :class="{'active': sectionLevel == 3}">
                    <div class="left-sec" >
                      <h4 class="header-sec" @click='section(3)'>{{$t("provideLiquidityPage.content")[3]["title"]}}</h4>
                      <transition name="height">
                      <div class="accordion-collapse" :class="{'active': sectionLevel == 3}">
                        <div class="accordion-body">
                          <p>
                            {{$t("provideLiquidityPage.content")[3]["text"]}}
                          </p>
                          <div class="sec-btns">
                            <button class="btn" @click="section(4)">{{$t("provideLiquidityPage.content")[3]["buttons"]}}</button>
                          </div>
                        </div>
                      </div>
                      </transition>
                    </div>
                    <div class="right-sec">
                      <div class="right-parent">
                        <transition name="fade">
                          <div class="pool right-sec-box" v-show="sectionLevel == 3">
                            <div class="asset">
                              <img class="default" src="~/assets/images/lp-page/BTC-Default.svg" alt="bitcoin">
                              <img class="hover" src="~/assets/images/lp-page/BTC-Hover.svg" alt="bitcoin">
                            </div> 
                            <div class="asset">
                              <img class="default" src="~/assets/images/lp-page/ETH-Default.svg" alt="ethereum">
                              <img class="hover" src="~/assets/images/lp-page/ETH-Hover.svg" alt="ethereum">
                            </div>
                            <div class="asset">
                              <img class="default" src="~/assets/images/lp-page/BNB-Default.svg" alt="bnb">
                              <img class="hover" src="~/assets/images/lp-page/BNB-Hover.svg" alt="bnb">
                            </div>
                            <div class="asset">
                              <img class="default" src="~/assets/images/lp-page/ATOM-Default.svg" alt="ATOM">
                              <img class="hover" src="~/assets/images/lp-page/ATOM-Hover.svg" alt="ATOM">
                            </div>
                            <div class="asset">
                              <img class="default" src="~/assets/images/lp-page/DOT-Default.svg" alt="DOT">
                              <img class="hover" src="~/assets/images/lp-page/DOT-Hover.svg" alt="DOT">
                            </div>
                            <div class="asset">
                              <img class="default" src="~/assets/images/lp-page/XMR-Default.svg" alt="XMR">
                              <img class="hover" src="~/assets/images/lp-page/XMR-Hover.svg" alt="XMR">
                            </div>
                            <div class="custom-asset">
                              <p>{{$t("provideLiquidityPage.content")[3]["rightSec"]["text"]}}</p>
                              <input type="text" placeholder="Type...">
                            </div>
                          </div>
                        </transition>
                      </div>
                    </div>
                  </div>
                  <div class="sec" :class="{'active': sectionLevel == 4}">
                    <div class="left-sec" >
                      <h4 class="header-sec" @click='section(4)'>{{$t("provideLiquidityPage.content")[4]["title"]}}</h4>
                      <transition name="height">
                      <div class="accordion-collapse" :class="{'active': sectionLevel == 4}">
                        <div class="accordion-body">
                          <p>
                            {{$t("provideLiquidityPage.content")[4]["text"]}}
                          </p>
                          <div class="sec-btns" @click="section(5)">
                            <button class="btn">{{$t("provideLiquidityPage.content")[4]["buttons"]}}</button>
                          </div>
                        </div>
                      </div>
                      </transition>
                    </div>
                    <div class="right-sec">
                      <div class="right-parent">
                        <transition name="fade">
                          <ILCalculator v-show="sectionLevel == 4"/>
                        </transition>
                      </div>
                    </div>
                  </div>
                  <div class="sec" :class="{'active': sectionLevel == 5}">
                    <div class="left-sec" >
                      <h4 class="header-sec" @click='section(5)'>{{$t("provideLiquidityPage.content")[5]["title"]}}</h4>
                      <transition name="height">
                      <div class="accordion-collapse" :class="{'active': sectionLevel == 5}">
                        <div class="accordion-body">
                          <p>
                            {{$t("provideLiquidityPage.content")[5]["text"]}}
                          </p>
                        </div>
                      </div>
                      </transition>
                    </div>
                    <div class="right-sec">
                      <div class="right-parent">
                        <transition name="fade">
                          <PoolTableLP v-show="sectionLevel == 5"/>
                        </transition>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="provide-liquidity-footer"></div>
        </div>
      </div>
    <!-- </div> -->
  </transition>
</template>

<script>
import { mapGetters } from "vuex";
import Close from "~/assets/images/icons/close.svg?inline";
import { Chart } from "highcharts-vue";
import CaretNext from "~/assets/images/icons/arrows-chevron-forward.svg?inline";
import ILCalculator from "./ImpermenentLossCalculator.vue"
import PoolTableLP from "./PoolTableLP.vue"


export default {
  components: {
    Close,
    Chart,
    CaretNext,
    ILCalculator,
    PoolTableLP
  },
  data() {
    return {
      showProvide: true,
      sectionLevel: 1,
      
    };
  },
  computed: {
    ...mapGetters(["showProvideLiq"]),
  },
  mounted(){
    console.log("Privide Liquidity Mounted")
  },
  methods: {
    
    closeProvide() {
      this.$store.commit("showProvide", false);
    },
    section(level) {
      this.sectionLevel = level;
    },
    setBubble(range, bubble) {
      const val = range.value;
      const min = range.min ? range.min : 0;
      const max = range.max ? range.max : 100;
      const newVal = Number(((val - min) * 100) / (max - min));
      // Sorta magic numbers based on size of the native UI thumb
      bubble.style.bottom = `calc(${newVal}% + (${49 - newVal * 1.22}px))`;
    } 
  }
};
</script>

<style lang="scss">
.provide-liquidity-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bgDark;
  display: block;
  transition: opacity 0.3s ease;
  overflow-y: hidden;
}

body.provide-open .provide-liquidity-mask {
  overflow-y: auto;
  overflow-x: auto;
}

.provide-liquidity-wrapper {
  display: block;
  width: 100%;
  margin: auto;
  padding-bottom: 500px;

  .provide-liquidity-header-wrapper {
    border-bottom: 1px solid $borderColor;

    .provide-liquidity-header {
      width: 1370px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px 15px 15px;
      padding-top: 20px;
      height: 88px;

      a {
        position: relative;
        margin-left: 8px;
        margin-bottom: 11px;
        
        img {
          margin: 3px 14px 0 0;
        }
      }

      .close-btn button {
        position: relative;
        left: 47px;
        margin: auto;
        border: none;
        background-color: transparent;

        svg {
          fill: #d5d7d8;
        }
      }
    }
  }

  .provide-liquidity-body {
    margin: 60px auto;
    padding-left: 70px;
    width: 1370px;

    .body-header {
      display: inline-block;
      font-family: "Exo 2";
      text-transform: uppercase;
      font-size: 38px;
      font-weight: bold;
      background-size: 100%;
      background-image: linear-gradient(45deg, $blueBackground, #30fb9e);
      background-repeat: repeat;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }

    .provide-body-sec {
      margin-top: 10px;

      .secs .sec:first-of-type .left-sec {
        padding-top: 5px;
      }

      .sec {
        display: flex;
        // padding-top: 5px;

        h4 {
          color: #ebecec;
          font-size: 20px;
          font-weight: normal;
          margin-bottom: 5px;
        }

        p {
          color: $semiGray;
        }

        .right-sec {
          position: relative;
          width: 800px;

          .right-parent {
            position: absolute;
            top: 0;
          }
          .right-sec-box {
            border-radius: 16px;
            border: 2px solid $borderColor;
          }

          .video-holder {
            position: relative;
            height: 450px;
            width: 800px;
          }

          .provide-liq-vid {
            display: block;
            width: 100%;
            height: 450px;
          }

          .pool {
            display: flex;
            flex-wrap: wrap;
            width: 800px;
            padding: 10px 20px;
            padding-left: 50px;

            .asset {
              padding: 20px;
              cursor: pointer;
              .default {
                display: block;
              }
              .hover {
                display: none;
              }
              &:hover {
                .default {
                  display: none;
                }
                .hover {
                  display: block;
                }
              }
            }

            .custom-asset {
              padding-left: 20px;
              align-items: center;
              display: flex;

              p {
                display: inline-block;
                width: 300px;
                margin-right: 20px;
              }

              input {
                color: #F5F5F5;
                background-color: #0D1B23;
                height: 40px;
                border-radius: 8px;
                border: none;
                padding: 10px;

                &::placeholder {
                  color: #414856;
                }

                &:focus {
                  outline: none;
                  border: none;
                }
              }
            }

          }

          

          .pool-simulate {
            width: 800px;
            border-radius: 24px;
            margin-bottom: 20px;
            border: none;

            .sim-header, .sim-item {
              padding: 0 20px;
              display: flex;
            }

            .sim-header {
              // display: flex;
              justify-content: space-between;
              color: $semiGray;
              font-weight: bold;
              padding: 10px 27px;
              font-size: 15px;
              height: 45px;
              border: 2px solid $borderColor;
              border-radius: 24px 24px 0 0;  
              border-bottom: 1px solid $borderColor;

              p {
                display: inline-block;
                margin: 0;
              }

              .sim-header-item {
                display: flex;
                justify-content: center;
              }

              .sim-header-item:not(.center) {
                display: flex;
                justify-content: flex-end;
              }


              .period {
                cursor: pointer;
                display: flex;
                padding: 0;
                align-items: center;
                width: 230px;

                p {
                  font-weight: bold;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 11px;
                  color: $semiGray;
                  width: 25px;
                  height: 19px;
                  margin: 0 2px;
                  border-radius: 2px;
                  
                  &.active {
                    color: $bgDark;
                    background-color: $butSirBackground;
                  }
                }
              }
            }

            .sim-items {
              border-left: 2px solid $borderColor;
              border-right: 2px solid $borderColor;

              .accordion-collapse {
                position: relative;
                overflow: hidden;
                max-height:0;
                transition:max-height 0.5s ease-out;

                .accordion-body {
                  filter: blur(1px);
                  -webkit-filter: blur(1px);
                }

                .overlay-soon {
                  background-color: rgba(0, 0, 0, 0.6);
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center; 

                  span {
                    font-weight: bold;
                    font-size: 23px;
                    color: #0D1B23;
                    background-color: $butSirBackground;
                    border-radius: 8px;
                    padding: 6px 13px;
                  }
                }
              }

              &.active {
                border: 3px solid;
                border-image-slice: 1;
                border-width: 2px;
                border-image-source: linear-gradient(to top right, $blueBackground,#33ff99 194%);

                .accordion-collapse {
                  transition:max-height 0.5s;
                  height:auto;
                  max-height:900px;

                  .accordion-body {
                    display: block;
                  }

                  &.height-enter, .height-leave-to {
                    max-height:0;
                  }

                }
                
              }

              

              .sim-item {
                cursor: pointer;
                justify-content: space-between;
                color: $semiGray;
                font-weight: bold;
                padding: 10px 27px;
                font-size: 15px;
                height: 40px;
                border-bottom: 1px solid $borderColor;
                font-weight: normal;

                .sim-item-header {
                  position: relative;
                  font-weight: 300;
                  font-size: 16px;
                  color: $butSirBackground;
                  margin: 0;
                  width: 230px;

                  .selected {
                    display: inline;
                    position: absolute;
                    font-size: 11px;
                    background-color: $butSirBackground;
                    border-radius: 3px;
                    color: $bgDark;
                    margin-left: 5px;
                    top: 0px;
                    font-weight: bold;
                    padding: 3px 5px;
                  }
                }

                .sim-item-sec {
                  font-family: 'Roboto Mono';
                  display: flex;
                  justify-content: flex-end;
                }
                
                .symbol {
                  justify-content: center;
                  font-family: 'Roboto';
                }
                
              }

              // .fade-enter-active,
              // .fade-leave-active {
              //   transition: height .4s;
              //   height: 790px;
              // }
              // .fade-enter,
              // .fade-leave-to
              // {
              //   height: 0px;
              // }

              .accordion-body {
                position: relative;
                border-bottom: 1px solid $borderColor;


                .chart-label {
                  position: absolute;
                  color: #0FA1A9;
                  font-size: 12px;
                  right: 10px;
                  top: 5px;
                }

                .lower-body {
                  display: flex;
                  align-items: center;
                  padding: 20px;
                  color: $semiGray;

                  .next-step {
                    fill: #0C1A22;
                    margin: 0 10px;
                  }

                  .sec-1 {
                    padding: 0 10px;
                    width: 255px;
                    line-height: 1.5;

                    h4 {
                      font-size: 16px;
                      color: $butSirBackground;
                    }

                    p {
                      font-size: 17px;
                      margin: 0;
                    }
                  }

                  .sec-2 {
                    display: flex;
                    flex-direction: column;
                    margin: 10px;
                    width: 145px;

                    input {
                      color: #F5F5F5;
                      background-color: #0D1B23;
                      height: 40px;
                      border-radius: 8px;
                      border: none;
                      padding: 10px;
                      margin: 10px 0;
                      text-align: right;
                      font-weight: bold;

                      &::placeholder {
                        color: #414856;
                      }

                      &:focus {
                        outline: none;
                        border: none;
                      }
                    }

                    .input-group {
                      display: flex;
                      position: relative;
                      align-items: center;

                      .input-group-text {
                        font-weight: bold;
                        height: 40px;
                        width: 35px;
                        border: none;
                        border-right: 3px solid $bgDark;
                        background-color: #0D1B23;
                      }

                      input {
                        width: 110px;
                        border-radius: 0 8px 8px 0;
                      }
                    }

                    button {
                      font-weight: bold;
                      padding: 10px;
                      margin: 10px 0;
                      border-radius: 8px;
                      border: none;
                      background-color: $butSirBackground;
                    }
                  }

                  .sec-3 {
                    padding-left: 10px;

                    .green {
                      margin-bottom: 5px;
                      color: #29CF7F;
                    }

                    .red {
                      margin-bottom: 5px;
                      color: #C83C46;
                    }

                    h2.green {
                      font-weight: bolder;
                      margin-top: 15px;
                      color: #33FF99;
                    }
                  }
                }

                .join {
                  display: block;
                  margin: 20px 30px;

                  button {
                    font-size: 17px;
                    font-weight: bolder;
                    padding: 10px 0;
                    width: 100%;
                    border: none;
                    border-radius: 8px;
                    background-image: linear-gradient(
                      to right,
                      $blueBackground,
                      #33ff99 194%
                    );
                  }
                }
              }

            }


            .sim-footer {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 10px 27px;
              border-radius: 0 0 24px 24px;
              border: 2px solid $borderColor;
              border-top: none;

              .show-more {
                color: $butSirBackground;
              }

              .last-update {
                font-size: 15px;
                color: $semiGray;
              }
            }
          }

          .play {
            cursor: pointer;
            background: $butSirBackground;
            border-radius: 20% / 10%;
            color: #ffffff;
            font-size: 2em; /* change this to change size */
            height: 100px;
            padding: 0;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-indent: 0.1em;
            transition: all 150ms ease-out;
            width: 130px;
          }

          .play:hover {
            background: darkorange;
          }

          .play::before {
            background: inherit;
            border-radius: 6% / 50%;
            bottom: 8%;
            content: "";
            left: -5%;
            position: absolute;
            right: -5%;
            top: 8%;
          }

          .play::after {
            border-style: solid;
            border-width: 1em 0 1em 1.732em;
            border-color: transparent transparent transparent $bgDark;
            content: " ";
            font-size: 0.75em;
            height: 0;
            margin: -1em 0 0 -0.75em;
            top: 50%;
            position: absolute;
            width: 0;
          }
        }

        &:not(.active) .left-sec {
          padding-bottom: 20px;
        }

        &.active + .sec .left-sec {
          padding-top: 20px;
        }

        &.sec:last-of-type.active .left-sec {
          padding-top: 0;
          padding-bottom: 20px;
        }

        .left-sec {
          width: 500px;
          padding: 0 70px 0 30px;
          border-left: 2px solid $borderColor;
          transition: all 0.2s;

          p,ul {
            margin: 0;
            color: $semiGray;
            line-height: 1.8;
          }

          ul {
            padding-left: 21px;
          }

          .header-sec {
            cursor: pointer;
          }

          .accordion-collapse {
            overflow: hidden;
            max-height:0;
            transition:max-height 0.5s ease-out;
            
            &.active {

              transition:max-height 0.5s;
              height:auto;
              max-height:900px;

              .accordion-body {
                display: block;
              }

              &.height-enter, .height-leave-to {
                max-height:0;
              }
            }
          }
        }

        &.active .left-sec {
          border-left: 2px solid #22d2bf;
        }

        .sec-btns {
          margin-top: 15px;

          button {
            margin: 0 5px;
            border-radius: 6px;
            padding: 10px 20px;
            min-width: 115px;
            background-color: $butSirBackground;
            color: $bgDark;
            font-weight: bold;

            &.btn-outline {
              font-weight: 500;
              background-color: transparent;
              border: 2px solid $butSirBackground;
              color: $butSirBackground;

              &:focus {
                outline: none;
              }
            }

            &:disabled {
              border: none;
              background-color: #15242e;
              color: $bgDark;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
