<template>
  <div class="main-wrapper">
    <div class="strips-container">
      <!-- <div class="community-pros">
        <div class="avatar-pro" v-for="(avatar, i) in avatars" :key="i" :class="{'active': avatar.active}">
          <img class="avatar-img" :src="avatar.img" :alt="avatar.name" @click="showThisAvatar(i)">
          <div class="content">
            <span>{{avatar.tag}}</span>
            <div class="icons">
              <ext-link class="telegram-icon" :linkProps="avatar.socialLinks.telegram" v-if="avatar.socialLinks.telegram"></ext-link>
              <ext-link class="github-icon" :linkProps="avatar.socialLinks.github" v-if="avatar.socialLinks.github"></ext-link>
              <ext-link class="gitlab-icon" :linkProps="avatar.socialLinks.gitlab" v-if="avatar.socialLinks.gitlab"></ext-link>
              <ext-link class="twitter-icon" :linkProps="avatar.socialLinks.twitter" v-if="avatar.socialLinks.twitter"></ext-link>
            </div>
          </div>
        </div>
      </div> -->
      <community-strips :avatars="avatars" />
    </div>
    <div class="content-wrapper">
      <a class="anchor-point" :id='$links("scrollTo.technology")[0]'></a>
      <div class="outer-container">
        <div class="spacing70"></div>
        <div class="title-section tssnology">
          <h2>
            <span style="color: #FF4954">{{
              $t("technicalPage.tssnology[0]")
            }}</span
            >{{ $t("technicalPage.tssnology[1]") }}
          </h2>
          <p>
            {{ $t("technicalPage.tssnology[2]") }}
          </p>
        </div>
        <div class="navigation-tab">
          <div class="btn-gp">
            <button disabled>
              <span class="soon">SOON</span>EXPLAIN LIKE I'M 5
            </button>
            <button class="active">EXPLAIN LIKE I'M TECHNICAL</button>
          </div>
        </div>
        <div class="spacing70"></div>
        <div class="row">
          <div class="col section-col">
            <div class="section-header" style="margin-top:10px">
              <p>
                {{ $t("technicalPage.firstStateMachine.beforeTitle") }}
              </p>
              <h2>
                {{ $t("technicalPage.firstStateMachine.title") }}
              </h2>
            </div>
            
            <div class="fading-color">
              <p class="section-paragraph">
                {{ $t("technicalPage.firstStateMachine.text[0]") }}
              </p>

              <p class="section-paragraph">
                {{ $t("technicalPage.firstStateMachine.text[1]") }}
              </p>

              <p class="section-paragraph">
                {{ $t("technicalPage.firstStateMachine.text[2]") }}
              </p>

              <p class="section-paragraph">
                {{ $t("technicalPage.firstStateMachine.text[3]") }}
              </p>
            </div>
          </div>
          <div style="width: 63px"></div>
          <div class="col section-col" style="position: relative; height: 825px">
            <img
              style="position: absolute"
              src="~/assets/images/thorchain/thorchain-state-machine-1.svg"
              alt="thorchain state machine"
            />
          </div>
        </div>
        <div class="spacing" style="height: 50px"></div>
        <div class="row">
          <div class="col p-0 m-0" style="max-width: 473px">
            <div class="code-snippet">
              <div class="csnpt-title">Sample witness transaction:</div>
              <br />
              <div class="csnpt-code fading-color">
                <pre>
  type Tx struct {
    ID           TxID     `json:”id”` 
    Chain        Chain    `json:”chain”` 
    FromAddress  Address  `json:”from_address”` 
    ToAddress    Address  `json:”to_address”` 
    Coins        Coins    `json:”coins”` 
    Gas          Gas      `json:”gas”` 
    Memo         tring    `json:”memo”` 
  }</pre
                >
              </div>
            </div>
          </div>
          <div style="width: 20px"></div>
          <div class="col p-0 m-0" style="max-width: 618px">
            <div class="code-snippet">
              <div class="csnpt-title">Sample finalized transaction:</div>
              <br />
              <div class="csnpt-code fading-color">
                <pre>
  type ObservedTx struct {
    Tx              common.Tx        `json:”tx”` 
    Status          status           `json:”status”` 
    OutHashes       common.TxIDs     `json:”out_hashes”` 
    BlockHeight     int64            `json:”block_height”` 
    Signers         []sdk.AccAddress `json:”signers”` 
    ObservedPubKey  common.PubKey    `json:”observed_pub_key”` 
  }</pre
                >
              </div>
            </div>
          </div>
        </div>
        <div style="height: 50px"></div>
        <div class="row">
          <div class="col">
            
            <ButSir :butSirComponent="butSirs.firstButSir" /> 
          </div>
        </div>
        <div style="height: 70px"></div>
        <div class="row">
          <div class="col" style="position: relative">
            <img
              src="~/assets/images/thorchain/thorchain-state-machine-2.svg"
              alt="thorchain state machine"
            />
          </div>
          <div style="width: 50px"></div>
          <div class="col section-col">
            <div class="section-header" style="margin-top:10px">
              <p>{{ $t("technicalPage.secondStateMachine.beforeTitle") }}</p>
              <h2>{{ $t("technicalPage.secondStateMachine.title") }}</h2>
            </div>
            <div class="fading-color">
              <p class="section-paragraph">
                {{ $t("technicalPage.secondStateMachine.text[0]") }}
              </p>

              <p class="section-paragraph">
                {{ $t("technicalPage.secondStateMachine.text[1]") }}
              </p>
            </div>
          </div>
        </div>
        <div class="spacing50"></div>
        <div class="row">
          <div class="col">
            
            <ButSir :butSirComponent="{ ...butSirs.secondButSir, ...{links:  [asgardActiveVaultLink] } }" />
          </div>
          <div style="width: 20px"></div>
          <div class="col">
            <div
              class="code-snippet"
              style="padding: 19px 30px; min-height: 296px"
            >
              <div class="csnpt-title">Sample txOut:</div>
              <br />
              <div class="csnpt-code fading-color">
                <pre>
  1 type TxOutItem struct {
  2   Chain       common.Chain    `json:”chain”`
  3   ToAddress   common.Address  `json:”to”`
  4   VaultPubKey common.PubKey   `json:”vault_pubkey”`
  5   Coin        common.Coin     `json:”coin”`
  6   Memo        string          `json:”memo”`
  7   MaxGas      common.Gas      `json:”max_gas”`
  8   InHash      common.TxID     `json:”in_hash”`
  9   OutHash     common.TxID     `json:”out_hash”`
  10  }</pre
                >
              </div>
            </div>
          </div>
        </div>
        <div class="spacing70"></div>
        <div class="row">
          <div class="col section-col">
            <div class="section-header" style="margin-top:10px">
            <p>{{ $t("technicalPage.thirdStateMachine.beforeTitle") }}</p> 
            <h2>{{ $t("technicalPage.thirdStateMachine.title") }}</h2>
            </div>
            <div class="fading-color">
              <p class="section-paragraph">
                {{ $t("technicalPage.thirdStateMachine.text[0]") }}
              </p>

              <p class="section-paragraph">
                {{ $t("technicalPage.thirdStateMachine.text[1]") }}
                <br />
                <span class="red-text">{{
                  $t("technicalPage.thirdStateMachine.text[2]")
                }}</span>
                {{ $t("technicalPage.thirdStateMachine.text[3]") }}
              </p>
            </div>
          </div>
          <div style="width: 63px"></div>
          <div class="col section-col" style="position: relative; height: 733px">
            <img
              style="position: absolute"
              src="~/assets/images/thorchain/thorchain-state-machine-3.svg"
              alt="thorchain state machine"
            />
          </div>
        </div>
        <div class="spacing50"></div>
        
        <ButSir :butSirComponent="butSirs.thirdButSir" >
          <template v-slot:text>
            <p>
              {{ $t("technicalPage.thirdButSir.text[0]") }}
              <b>{{ $t("technicalPage.thirdButSir.text[1]") }}</b>
              {{ $t("technicalPage.thirdButSir.text[2]") }}
              <b>
                {{ $t("technicalPage.thirdButSir.text[3]") }}
                {{ minimumBond }}
                {{ $t("technicalPage.thirdButSir.text[4]") }}
                ${{ bondInUsd }}
                {{ $t("technicalPage.thirdButSir.text[5]") }}
              </b>
              {{ $t("technicalPage.thirdButSir.text[6]") }}
              <b>{{ $t("technicalPage.thirdButSir.text[7]") }}</b>
            </p>
          </template>
        </ButSir>
      </div>
      <a class="anchor-point" :id="$links('scrollTo.technology')[1]"></a>
      <div class="outer-container">
        <div class="spacing50"></div>
        <div class="rewiring-table-new">
          <div class="frame">
            <img src="~/assets/images/technical-page/Tron Grids Outer.png" alt="frame" />
          </div>
          <div class="rewiring-legacy">
            <div class="rewiring-header">
              <img src="~/assets/images/thorchain/REWIRING.svg" alt="rewiring" />
              <img src="~/assets/images/thorchain/LEGACY.svg" alt="legacy" style="margin-left: -14px;" />
            </div>
          </div>
          <div class="rewiring-table-content row">
            <div class="compare-states col col-auto">
              <div class="rewiring-table-row">
                {{ $t("technicalPage.rewiringLegacy.table[0]") }}
              </div>
              <div class="rewiring-table-row">
                {{ $t("technicalPage.rewiringLegacy.table[1]") }}
              </div>
              <div class="rewiring-table-row">
                {{ $t("technicalPage.rewiringLegacy.table[2]") }}
              </div>
              <div class="rewiring-table-row">
                {{ $t("technicalPage.rewiringLegacy.table[3]") }}
              </div>
              <div class="rewiring-table-row">
                {{ $t("technicalPage.rewiringLegacy.table[4]") }}
              </div>
            </div>
            <div class="col col-auto box-thorchain">
              <div class="rewiring-table-row">99+ Public & Anonymous</div>
              <div class="rewiring-table-row">
                <img src="~/assets/images/thorchain/Asset4.svg" alt="check" style="width: 15px" />
              </div>
              <div class="rewiring-table-row">
                <img src="~/assets/images/thorchain/Asset4.svg" alt="check" style="width: 15px" />
              </div>
              <div class="rewiring-table-row">Two Thirds</div>
              <div class="rewiring-table-row">Yes with Fee Rewards</div>
              <div class="box-btn not-comparable">not comparable</div>
            </div>
            <div class="col col-auto box-centralized">
              <div class="rewiring-table-row">A bunch of centralized</div>
              <div class="rewiring-table-row">
                <img src="~/assets/images/thorchain/Asset5.svg" alt="check" style="width: 15px" />
              </div>
              <div class="rewiring-table-row">
                <img src="~/assets/images/thorchain/Asset5.svg" alt="check" style="width: 15px" />
              </div>
              <div class="rewiring-table-row">What's TSS?</div>
              <div class="rewiring-table-row">No</div>
              <div class="box-btn but-compatible">but compatible</div>
            </div>
          </div>
        </div>
      </div>
      <div class="spacing50"></div>
      <div class="outer-container">
        <div class="spacing50"></div>
        
        <ButSir :butSirComponent="butSirs.rewiringButSir" />
      </div>
      <a class="anchor-point" :id="$links('scrollTo.technology')[2]"></a>
      <div class="outer-container">
        <div class="reports-and-audits thor-white-color">
          <div class="spacing50"></div>
          <div
            class="row justify-content-between reports-papers"
            style="width: 1111px"
          >
          <div class="report-paper">
            <h2 class="header">{{this.$t('technicalPage.reportsAndAudits.title')}}</h2>
            <div class="text">
              <p>
                THORCHain has been <mark style="background-color: #FFFF06; padding: 0 0.1em;">studied by the industry’s brightest</mark>.
                <br>
                Read the various papers to <mark style="background-color: #B3D7FF;  padding: 0 0.1em;">come to your own conclusions</mark> ;)
              </p>
            </div>
            <div class="links">
              <ext-link :linkProps="$links('paper_tss_whitepaper')">{{this.$t('technicalPage.reportsAndAudits.links[0]')}}</ext-link>
              <ext-link :linkProps="$links('paper_tss_audit')">{{this.$t('technicalPage.reportsAndAudits.links[1]')}}</ext-link>
              <ext-link :linkProps="$links('paper_tss_benchmark')">{{this.$t('technicalPage.reportsAndAudits.links[2]')}}</ext-link>
            </div>
          </div>
            <!-- <div class="col col-auto" style="margin-bottom: 50px;">
              <TechnicalPagePapers
                :hrefLink="$links('thorchainTSSWhitepaper')"
                :btnText="$t('technicalPage.reportsAndAudits.papers[0]')"
              >{{$t('technicalPage.reportsAndAudits.texts[0]')}}</TechnicalPagePapers>
            </div>
            <div class="col col-auto" style="margin-bottom: 50px;">
              <TechnicalPagePapers
                :number="1"
                :hrefLink="$links('thorchainTSSBenchmark')"
                :btnText="$t('technicalPage.reportsAndAudits.papers[1]')"
              >{{$t('technicalPage.reportsAndAudits.texts[1]')}}</TechnicalPagePapers>
            </div>
            <div class="col col-auto">
              <TechnicalPagePapers 
                :number="2"
                :hrefLink="$links('kudelskiTSSAudit')" 
                :btnText="$t('technicalPage.reportsAndAudits.papers[2]')" 
              >{{$t('technicalPage.reportsAndAudits.texts[2]')[0]}}<br><br>{{$t('technicalPage.reportsAndAudits.texts[2]')[1]}}</TechnicalPagePapers>
            </div> -->
          </div>
        </div>
        <div class="spacing50 textAbove"></div>
        
        <ButSir :butSirComponent="butSirs.wheretoaskButSir" >
          <template v-slot:links>
            <span class="learn-more col-auto p-0">
                  {{ $t("technicalPage.wheretoaskButSir.learnMore") }}
                </span>
                <div class="col-auto p-0">
                  <ext-link class="butsir-link" :linkProps="$links('twitter')"
                    ><img
                      class="mr-2 icon"
                      alt="twitter-link"
                      src="~/assets/images/icons/social-twitter-icon.svg"
                    /><img
                      class="mr-2 hover"
                      alt="twitter-link"
                      src="~/assets/images/icons/social-twitter-icon-dark-hover.svg"
                    />{{ $t("technicalPage.wheretoaskButSir.links[0]") }}</ext-link
                  ><ext-link class="butsir-link" :linkProps="$links('telegram_community')"
                    ><img
                      class="mr-2 icon"
                      alt="telegram-link"
                      src="~/assets/images/icons/social-telegram-icon.svg"
                    /><img
                      class="mr-2 hover"
                      alt="telegram-link"
                      src="~/assets/images/icons/social-telegram-icon-dark-hover.svg"
                    />{{ $t("technicalPage.wheretoaskButSir.links[1]") }}</ext-link
                  ><ext-link class="butsir-link" :linkProps="$links('discord')"
                    ><img
                      class="mr-2 icon"
                      alt="discord-link"
                      src="~/assets/images/icons/discord.svg"
                    /><img
                      class="mr-2 hover"
                      alt="discord-link"
                      src="~/assets/images/icons/discord-dark-hover.svg"
                    />{{ $t("technicalPage.wheretoaskButSir.links[2]") }}</ext-link
                  ><ext-link
                    class="butsir-link"
                    :linkProps="$links('medium_liquidity_pooling')"
                    >{{ $t("technicalPage.wheretoaskButSir.links[3]")
                    }}<span class="soon">UPDATE IN V0.2</span></ext-link
                  >
                </div>
          </template>
        </ButSir>
      </div>
      <!-- <div class="spacing70"></div> -->
      <a class="anchor-point" :id="$links('scrollTo.technology')[3]"></a>
      <div class="outer-container">
        <div class="spacing50"></div>
        <!-- <div class="row supply-emitted annu-box" style="height: 570px;">
          <div class="col col-auto" style="width: 590px;">
            <div class="supply-emitted-header">
              <h2>{{$t('technicalPage.noSmokeAndMirrors.header')}}</h2>
              <h3>{{$t('technicalPage.noSmokeAndMirrors.belowHeader')[0]}}</h3>
            </div>
            <div class="supply-emitted-text">
              <p>{{$t('technicalPage.noSmokeAndMirrors.text')[0]}}<br>{{$t('technicalPage.noSmokeAndMirrors.text')[1]}}</p>
            </div>
            <div class="annu-lower" style="margin-top: 30px;">
              <h3 style="font-style: italic"><strong>{{totalTx}}</strong> {{$t('technicalPage.noSmokeAndMirrors.aboveBtn')[1]}}</h3>
              <a class="annu-btn" :href="$links('exploreTransactions')">{{$t('technicalPage.noSmokeAndMirrors.links')[0]}}</a>
            </div>
          </div>
        </div> -->
        <div class="row supply-emitted annu-box">
          <div class="supply-emitted-header">
            <h2>{{$t('technicalPage.noSmokeAndMirrors.header')}}</h2>
          </div>
          <div class="supply-emitted-text">
            <p>{{$t('technicalPage.noSmokeAndMirrors.text')}}</p>
          </div>
          <div class="annu-lower">
            <div class="border-wrap">
              <ext-link class="gradient-btn" :linkProps="$links('thorchain_net_stats')"><span>{{$t('technicalPage.noSmokeAndMirrors.links')[0]}}</span></ext-link>
            </div>
            <span class="fic-graph">{{$t('technicalPage.noSmokeAndMirrors.aboveBtn')}}</span>
          </div>
        </div>
        <div class="spacing50"></div>
        
        <ButSir :butSirComponent="butSirs.smokeButSir" >
          <template v-slot:text>
            <p>
              {{ $t("technicalPage.smokeButSir.text[0]") }}
              <b>{{ $t("technicalPage.smokeButSir.text[1]") }}</b>
            </p>
          </template>
        </ButSir>
        <div class="spacing70"></div>
      </div>
    </div>
    
  </div>
</template>

<script src="./script.js"></script>
<style src="./style.scss" lang="scss" scoped></style>
