<template>
  <h1>Nothing in this page</h1>
</template>

<script>
  export default {
    head() {
      // Set Meta Tags for this Page
    }
    // ...
  }
</script>

<style>
  h1 {
    text-align: center;
  }
</style>